<div class="container">
    <h2>User login</h2>

    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {{/if}}
    
    <form action="/user/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">User email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">User password</label>
            <input type="password" class="form-control" id="password" name="password" value="{{user.password}}">
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
</div>